body {
background-color: #def4f0;
}

.final1-img {
  position: relative;
  bottom: 10%;
  height: 320px;
  width: 320px;
}

.ind-bg-div {
  margin: 0;
}

.ind-row {
  padding: 10% 0;
}

.ind-h1 {
  font-family: 'Montserrat';
  padding-top: 10%;
  margin-bottom: 20px;
}

.ind-header {
  padding-left: 15%;
  padding-bottom: 10%;
}
